.app-section {
  opacity: 0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: rgba(69, 102, 185, 0.3);
  border: 5px solid rgba(94, 140, 255, 0.8);
  box-shadow: 0 0 10px rgba(125, 161, 252, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 1s ease-in-out;
  border-radius: 7px;

  .trigger {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgba(252, 198, 103, 0.3);
    border: 3px solid rgba(252, 198, 103, 0.5);
    box-shadow: 0 0 10px rgba(252, 198, 103, 0.5);
    transition: all 0.3s ease;
    font-size: 3em;
    color: #fcc667;
    text-shadow: 1px 1px 2px black;
  }

  &.active .trigger {
    border: 5px solid rgba(255, 223, 169, 0.9);
    color: #ffd791;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  &.id1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &.id2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &.id3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}