.dock-container {
  width: 100%;
  height: calc(70px + calc(1px + 9px));
  min-height: calc(70px + calc(1px + 9px));
  border: 1px;

  .dock {
    position: absolute;
    z-index: 100;
    padding: 0 5px;
    width: max-content;
    height: 72px;
    background-color: rgba($color: #7692ff, $alpha: 0.32);
    border-radius: 18px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border: 1px solid #92a8ff;

    .vLine {
      background-color: #92a8ff;
      height: 60px;
      margin-left: 2px;
      margin-right: 2px;
      width: 1px;
    }

    .dock-item {
      width: 60px;
      height: 60px;
      transition: all 0.3s ease-in-out;
      position: relative;
      margin-bottom: 4px;

      &.active {
        width: 90px;
        height: 90px;
        transform: translateY(-13px);

        .icon-name {
          display: flex;
        }

        &+.dock-item:not(.vLine) {
          width: 75px;
          height: 75px;
          transform: translateY(-6.5px);
        }

        &+.dock-item+.dock-item:not(.vLine) {
          width: 67.5px;
          height: 67.5px;
          transform: translateY(-3.75px);
        }
      }

      // Sol taraf için
      &:has(+ .active):not(.vLine) {
        width: 75px;
        height: 75px;
        transform: translateY(-6.5px);
      }

      &:has(+ .dock-item + .active):not(.vLine) {
        width: 67.5px;
        height: 67.5px;
        transform: translateY(-3.75px);
      }

      .icon-name {
        display: none;
        padding: 5px;
        position: absolute;
        top: -38px;
        width: max-content;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        background-color: rgba($color: #7692ff, $alpha: 0.8);
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        border: 1px solid #92a8ff;
      }


      img {
        width: 100%;
        height: 100%;
      }

      .dot {
        position: absolute;
        bottom: -3.5px;
        z-index: 10;
        width: 5px;
        height: 5px;
        background-color: #ffffff;
        border-radius: 100%;
      }
    }

  }
}